@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.main{
    padding: 32px;
}

.blue__text{
    color: rgb(34, 80, 173);
}


ul{
    list-style: none;
}
.nav__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 16px;
    padding: 4px 16px;
    height: 50px;
}

.nav__image{
    height: 40px;
}

.nav__img{
    display: flex;
    flex-direction: row;
}

.nav__p{
    font-weight: 900;
    font-family: sans-serif;
}

.nav__links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: black;
    list-style: none;
    text-decoration: none;
}

.nav__link{
    padding: 4px;
    margin: 4px;
}

.about__text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 32px;
    font-weight: bolder;
    line-height: 1.25rem;
    
}

p{
    font-size: 16px;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
}

.about__inputs{
    display: flex;
    flex-direction: row;
    border: 2px solid darkgrey;
    border-radius: 9999px;
    padding: 4px;
}

.email__input{
    width: 100%;
    border-radius: 100px;
    border: none;
}



.email__input:focus{
    outline: none;
}

.about__button{
    border: none;
    background-color: rgb(34, 80, 173);
    color: white;
    border-radius: 100px;
    padding-left: 16px;
    padding-right: 16px;
}

.about__button.hover{
    background-color: black;
}

.about__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.shady__p{
    color: gray;
}

.logo{
    padding: 12px;
    margin: 4px;
    height: 120px;
    max-height: 300px;
}

.undraw__img{
    width: 100%;
    max-width: 32rem;
    min-width: 0px;
}